$burnt: rgb(148, 62, 22);
$navLinks: rgb(118, 109, 172);
$bgDark: rgb(20, 30, 30);
$bone: rgb(255, 228, 196);
$bracket: rgb(218, 165, 32);

@mixin headerColors {
  .bone {
    color: $bone;
  }
  .burn {
    color: $burnt;
  }

  .bracket {
    color: $bracket;
  }
}
