@use 'colors';
@mixin boilerPlate {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}

body {
  @include boilerPlate();
  background: colors.$bgDark;
}

#maintainer {
  padding: 0;
  margin: 0 auto;
  width: 80%;
  height: 100vh;

  header {
    font-size: 2vw;
    display: flex;
    padding-top: 1em;
    @include colors.headerColors();
    font-family: "Fira Code", monospace;

    #headwrap {
      padding: 0;
      margin: 0 auto;
      width: auto;
    }

    nav {
      padding-left: 3vw;
      margin: 0 auto;
      a {
        color: colors.$navLinks;
        text-decoration: none;
      }

      a:hover {
        color: colors.$burnt;
      }
      a:active {
        color: bisque;
      }
    }
  }

  main {
    height: 70vh;
    color: bisque;
  }

  footer {
    height: 10vh;
    color: bisque;
    text-align: center;
  }
}
