@use 'colors';
@mixin boilerPlate {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}

body {
  @include boilerPlate();
}

#maintainer {
  width: 80%;
  height: 100vh;

  header {
    font-size: 2.5vw;
    width: auto;
    height: auto;
    margin: auto;
    @include colors.headerColors();

    .active {
      text-decoration: underline;
      color: bisque;
      a:hover {
        color: bisque;
      }
    }

    nav {
      padding-left: 3vw;
      margin: 0 auto;
      a {
        color: colors.$navLinks;
        text-decoration: none;
      }

      a:hover {
        color: colors.$burnt;
      }
      a:active {
        color: bisque;
      }
    }
  }

  main {
    height: 70vh;
    color: bisque;
    // font-size: 3em;
    text-align: center;

    #who {
      width: auto;
      color: bisque;
      text-align: center;
      font-size: 10vw;
    }
  }

  footer {
    height: 10vh;
    color: bisque;
    align-self: center;
    // font-size: 2em;
  }
}
